// @import url(./abstracts/abstracts.scss);
// @import url(./base/base.scss);
// @import url(./components/components.scss);
// @import url(./layouts/layout.scss);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: Source Sans Pro;
  src: url(../fonts/Source_Sans_Pro/SourceSansPro-Regular.eot);
  src: url(../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf) format('ttf'),
    url(../fonts/Source_Sans_Pro/SourceSansPro-Regular.woff) format('woff'),
    url(../fonts/Source_Sans_Pro/SourceSansPro-Regular.woff2) format('woff2');
}

@font-face {
  font-family: Source Sans light;
  src: url(../fonts/Source_Sans_Pro/SourceSansPro-Light.ttf);
}

@font-face {
  font-family: PlayfairDisplay;
  src: url(../fonts/Playfair_Display/static/PlayfairDisplay-Medium.ttf);
}
@font-face {
  font-family: PlayfairDisplayBold;
  src: url(../fonts/Playfair_Display/static/PlayfairDisplay-Bold.ttf);
}

body {
  font-family: Source Sans Pro, sans-serif;
  font-size: 18px;
  font-weight: 200;
  line-height: 1.5;
  overflow-x: hidden;
  background-color: #f4f4f4;
}

nav {
  position: absolute;
  width: 100%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
  .nav-list {
    overflow: hidden;
  }

  .logo img {
    position: absolute;
    width: 92;
    height: 49px;
    float: left;
    top: 25px;
  }

  ul {
    list-style: none;
    display: flex;
    font-size: 12px;
  }

  ul li a {
    color: #fff;
    text-decoration: none;
    margin: 0 25px;
    position: relative;
    top: 10px;
    left: 250px;
  }
  .fa-angle-down {
    opacity: 0.1;
    font-size: 14px;

    &:hover {
      opacity: 1;
    }
  }
  .nav-tools {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left: 300px;
  }
  #book {
    background: -webkit-linear-gradient(#c5bc58 50%, #fff 50%);
    background-size: 200px 160px;
    color: #fff;
    padding: 11px 20px;
    font-size: 11.5px;
    border: 1px #c5bc58 solid;
    margin: 0 15px;
    transition: 0.7s;
    position: relative;
  }

  .hamburger .line {
    width: 20px;
    height: 1px;
    background-color: #ecf0f1;
    display: block;
    margin: 5px 10px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .hamburger:hover {
    cursor: pointer;
  }

  #hamburger-1.is-active .line:nth-child(2) {
    opacity: 0;
  }

  #hamburger-1.is-active .line:nth-child(1) {
    -webkit-transform: translateY(4px) rotate(45deg);
    -ms-transform: translateY(4px) rotate(45deg);
    -o-transform: translateY(4px) rotate(45deg);
    transform: translateY(4px) rotate(45deg);
  }

  #hamburger-1.is-active .line:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    -ms-transform: translateY(-8px) rotate(-45deg);
    -o-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }
}

.link-nav:after {
  content: '';
  position: absolute;
  background-color: #6fb586;
  height: 1.5px;
  width: 0;
  left: 0;
  bottom: -10px;
}
.link-nav:hover:after {
  width: 100%;
  transition: 0.5s;
}
#home:after {
  content: '';
  position: absolute;
  background-color: #6fb586;
  height: 1.5px;
  width: 70%;
  left: 0;
  bottom: -10px;
}
#more:after {
  content: '';
  position: absolute;
  background-color: #6fb586;
  height: 1.5px;
  width: 0;
  left: 0;
  bottom: -10px;
}
#more:hover:after {
  width: 70%;
  transition: 0.5s;
}
.slider {
  display: flex;
  width: 100%;
  height: 107vh;

  .slides {
    display: flex;
    flex-flow: row nowrap;
    overflow: hidden;
    width: 100%;
    height: 107vh;
  }

  .slide {
    flex: 1 0 100%;
    width: 100%;
  }

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.prev,
.next {
  position: absolute;
  top: 55%;
  transform: translate(0, -50%);
  cursor: pointer;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}
.next {
  right: 0;
}
.boxDate {
  display: flex;
  position: relative;
  overflow: hidden;
  margin: -50px 8%;
  width: 85%;
  height: 280px;
  background-color: #111118;

  .checkDate {
    display: flex;
    justify-content: center;
    margin: 30px 185px;
  }

  input {
    background-color: #1f1f2c;
    padding: 32px 22px;
    font-size: 25px;
    border: 1px solid #1f1f2c;
    margin: 15px 20px;
    text-align: center;
  }

  ::placeholder {
    color: rgba(255, 255, 255, 0.794);
    font-family: Source Sans light, sans-serif;
  }
  input:focus::placeholder {
    color: rgba(179, 179, 179, 0.548);
  }

  label {
    color: rgba(255, 255, 255, 0.651);
    font-size: 11px;
    margin-left: 140px;
  }

  .reqQuote button {
    text-align: center;
    width: 170px;
    height: 45px;
    font-size: 13px;
    line-height: 1.5;
    border: 1px #6fb586 solid;
    color: #6fb586;
    box-shadow: 0 0 1px rgb(0 0 0 / 0%);
    position: relative;
    right: 650px;
    top: 200px;
    background: -webkit-linear-gradient(transparent 50%, #6fb586 50%);
    background-size: 200px 160px;
    transition-duration: 0.5s;
  }
}

.aboutHotel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 500px;
  background-image: url(../images/WELCOME.jpg);
  background-size: contain;
  margin-top: 30px;
  background-repeat: no-repeat;
  line-height: 1.5;

  span {
    color: #323232;
    font-size: 13.5px;
    letter-spacing: 3px;
    font-family: Source Sans light, sans-serif;
    margin-bottom: 20px;
  }

  h1 {
    font-family: PlayfairDisplay, sans-serif;
    color: #323232;
    left: 2;
    font-size: 40px;
    margin-top: 90px;
  }
  h2 {
    font-family: PlayfairDisplay;
    color: #323232;
    font-size: 20px;
    margin-top: 10px;
  }
  p {
    width: 52.5%;
    text-align: center;
    margin-block-start: 1em;
    margin-block-end: 1em;
    color: #323232b0;
    font-family: Source Sans light, sans-serif;
    font-size: 18px;
    font-weight: 200;
    line-height: 1.5;
  }
  .avatar1 {
    border-radius: 50%;
    width: 70px;
    height: 70px;
  }
  .av1 {
    margin-bottom: 5px;
  }
  .richard {
    font-size: 13px;
    margin: 0;
  }
}

.boxes {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 150px;

  img {
    width: 90%;
  }
}
.off {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../images/home-banner-1.jpg);
  width: 100%;
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;

  h2 {
    font-family: PlayfairDisplayBold, sans-serif;
    color: #323232;
    left: 2;
    font-size: 40px;
    margin-top: 80px;
    font-weight: 500;
    margin-bottom: 13px;
  }

  p {
    width: 52.5%;
    text-align: center;
    margin-block-start: 1em;
    margin-block-end: 1em;
    color: #323232b0;
    font-family: Source Sans light, sans-serif;
    font-size: 18px;
    font-weight: 200;
    line-height: 1.5;
    margin-bottom: 25px;
  }

  .viewRoom {
    font-size: 12px;
    padding: 10px 18px;
    border: 1px #000 solid;
    background: -webkit-linear-gradient(transparent 50%, rgb(46, 46, 46) 50%);
    background-size: 200px 160px;
    transition-duration: 0.5s;
  }
}
.second-slider {
  display: flex;
  background-color: #111118;
  width: 100%;
  height: 100vh;



  .owl-carousel{
    display: flex;
    flex-direction: column;
    background-color: #171720;
    width: 80%;
    height: 55%;
    margin:auto;
    margin-top: 110px;
    // overflow: hidden;
  }

  .card{
    display: flex;
    width: 100%;
    height: 100%;
    transition: 5s;
  }
  .card-img {
    width: 50%;
    height: 900%;
  }
  .card-img img {
    width: 100%;
    height: 100%;

  }
  .card-txt {
    width: 50%;
    color: #fff;
    padding: 40px 20px;

    span{
      font-family:PlayfairDisplayBold, sans-serif;
      font-size: 30px;
      text-transform: uppercase;
    }

    span:hover{
      color: #6fb586;
    }
    .des-card{
      text-transform: uppercase;
      font-size: 13px;
      font-family:  Source Sans light, sans-serif;
      margin-bottom: 20px;

    }
    p{
      font-size: 16px;
      font-family:  Source Sans light, sans-serif;
      color: rgba(255, 255, 255, 0.87);
      margin-bottom: 30px;
    }

    a{
      text-decoration: none;
      color: #6fb586;
      font-size: 12px;
    }

  }
  .circle-card{
    display: flex;
    margin-bottom: 30px;

    .circle1{width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 1px solid rgba(255,255,255,0.1);
    }
    .circle2{
      width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgba(255,255,255,0.1);
    margin: 0 4px;
    }
    .circle3{
      width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgba(255,255,255,0.1);
    }
  }
  
  .owl-dots{
    width: 100%;
    text-align: center;
    position: absolute;
    top: 370px;
  }
}
.third-slider{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 90vh;
  margin-top: 120px;
  
  .cap{
    font-family:  PlayfairDisplayBold, sans-serif;
    font-size: 40px;
    color: #323232;
    line-height: 1.5;
  }
  .desc{
    font-family: Source Sans light,sans-serif;
    color: #323232;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 20px;

  }

  .owl-theme{
    // display: flex;
    width: 60%;
    height: 50%;

    .owl-s{
      display: flex;
      width: 100%;
      height: 100%;
    }

    .avatarr{
      width: 15%;
      // height: 100%;
    }
    .owl-content{
      width: 70%;
    }
    img{
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }
  }
  h4{
    font-family: PlayfairDisplayBold, sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 15px;
    color: #323232;
  }

}
